CSharp/packages/
binding-objc-mac/
binding-objc-ios/
binding-java-android/
ObjC/SimpleConsumer-macOS/Framework
ObjC/SimpleConsumer-macOS/build
ObjC/SimpleConsumer-iOS/Framework
ObjC/SimpleConsumer-iOS/build
xcuserdata/

